@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #000;
}

.wrapper{
    height: 200px;
    width: 560px;
    position: relative;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    cursor: default;
    animation: animate 1.7s linear infinite;
}

.wrapper .display,
.wrapper span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .display{
    z-index: 999;
    height: 180px;
    width: 540px;
    background: #1b1b1b;
    border-radius: 8px;
    text-align: center;
}

.display #time{
    line-height: 180px;
    color: #fff;
    font-size: 78px;
    font-weight: bold;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2.0s linear infinite;
}

@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}

@media (max-width: 768px) {
    .wrapper{
        height: 250px;
        width: 770px;
    }

    .wrapper .display{
        height: 230px;
        width: 746px;
        background: #1b1b1bb3;
    }

    .display #time{
        line-height: 230px;
        font-size: 92px;
        animation: animate 1.5s linear infinite;
    }

    html, body{
        display: flex;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .display {
        font-size: 14px; /* Điều chỉnh kích thước font cho màn hình nhỏ */
    }

    /* Ẩn các thẻ span khi màn hình nhỏ */
    .wrapper span {
        display: none;
    }
}

.wrapper span{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: inherit;
}

.wrapper span:first-child{
    filter: blur(7px);
}

.wrapper span:last-child{
    filter: blur(20px);
}
